<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common :: head}"></head>
<body>
<nav th:insert="~{common :: navbar}"></nav>
<div class="container mt-2">
    <div class="jumbotron">
        <h1>C'est un numéro 404</h1>
        <p>Attention ! Cette page a décidé de faire une pause café. Nos équipes RH sont en mission spéciale pour la ramener à la réalité du code.</p>
        <button onclick="window.history.back()" class="btn btn-primary mt-2">D'accord</button>
    </div>
</div>
</body>
</html>
