<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common :: head}"></head>
<body>
<nav th:insert="~{common :: navbar}"></nav>
<div class="container">
    <div th:text="${msgSalarie}"></div>

    <h2 class="ml-n2">
        <span class="badge badge-secondary mr-2" onclick="goBack()">
            <i class="fa fa-arrow-left"></i>
        </span>
        <span id="salarie-title" th:text="${salarie.getId()} ? ${salarie.getNom()} : #{msg.salarie_new_title}"></span>
    </h2>
    <script th:inline="javascript">
        document.querySelectorAll('.badge').forEach(elem => elem.style.cursor = "pointer");
        function goBack() {
            window.history.back();
        }
    </script>
    <div th:if="${salarie.getId()==null}" class="alert alert-info mt-4" role="alert">
        <p><strong>Note de la direction :</strong> Les salariés homonymes sont interdits.</p>
    </div>
    
    <form id="saveForm" th:action="@{/salaries/save}" method="post" class="row">

        <div class="col-lg-6">
            <div th:if="${salarie.getId()}" class="form-group">
                <div>
                    <label class="form-control-label" for="id">ID</label>
                    <input th:value="${salarie} ? ${salarie.getId()}" type="text" readonly class="form-control" name="id" id="id">
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="nom">Nom</label>
                <input th:value="${salarie} ? ${salarie.getNom()} : ''" type="text" class="form-control" th:required="${true}" name="nom" id="nom">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="moisEnCours">moisEnCours</label>
                <input type="date" th:value="${salarie} ? ${salarie.getMoisEnCours()} : ''" class="form-control" name="moisEnCours"
                       id="moisEnCours">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="moisDebutContrat">moisDebutContrat</label>
                <input type="date" th:value="${salarie} ? ${salarie.getMoisDebutContrat()} : ''" class="form-control" name="moisDebutContrat" id="moisDebutContrat">
            </div>

            <!-- Error shows here -->
            <div th:if="${isError}" class="alert alert-danger mt-4" role="alert">
                <h5>Erreur dans un champ !</h5>
                <p th:text="${isError}"></p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <div>
                    <label class="form-control-label" for="joursTravaillesAnneeN">joursTravaillesAnneeN</label>
                    <div class="input-group">
                        <input th:value="${salarie} ? ${salarie.getJoursTravaillesAnneeN()}" type="number" step="0.5" min="0" class="form-control" name="joursTravaillesAnneeN" id="joursTravaillesAnneeN">
                        <div class="input-group-append">
                            <span class="input-group-text">j</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label class="form-control-label" for="congesPayesAcquisAnneeN">congesPayesAcquisAnneeN</label>
                    <div class="input-group">
                        <input th:value="${salarie} ? ${salarie.getCongesPayesAcquisAnneeN()}" type="number" step="0.5" min="0" class="form-control" name="congesPayesAcquisAnneeN" id="congesPayesAcquisAnneeN">
                        <div class="input-group-append">
                            <span class="input-group-text">j</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="joursTravaillesAnneeNMoins1">joursTravaillesAnneeNMoins1</label>
                <div class="input-group">
                    <input th:value="${salarie} ? ${salarie.getJoursTravaillesAnneeNMoins1()}" type="number" step="0.5" min="0" class="form-control" name="joursTravaillesAnneeNMoins1" id="joursTravaillesAnneeNMoins1">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="congesPayesAcquisAnneeNMoins1">congesPayesAcquisAnneeNMoins1</label>
                <div class="input-group">
                    <input th:value="${salarie} ? ${salarie.getCongesPayesAcquisAnneeNMoins1()}" type="number" step="0.5" min="0" class="form-control" name="congesPayesAcquisAnneeNMoins1" id="congesPayesAcquisAnneeNMoins1">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="congesPayesPrisAnneeNMoins1">congesPayesPrisAnneeNMoins1</label>
                <div class="input-group">
                    <input th:value="${salarie} ? ${salarie.getCongesPayesPrisAnneeNMoins1()}" type="number" step="0.5" min="0" class="form-control" name="congesPayesPrisAnneeNMoins1" id="congesPayesPrisAnneeNMoins1">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="row mt-4">
        <div class="col-lg-6">
            <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
            <!-- Delete form button -->
            <div class="d-inline-flex ml-2">
                <form method="post" th:action="'/salaries/' + ${salarie.getId()} + '/delete'">
                    <button type="submit" id="deleteButton" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body></html>
<script th:inline="javascript">
    // Live typing Name value :
    const inputNom = document.getElementById('nom');
    const title = document.getElementById('salarie-title')
    inputNom.addEventListener('input', () => {
        title.textContent = inputNom.value;
    });
    // if creation, focus on Name input
    if (!document.getElementById('id')){
        inputNom.focus()
    }
    // Delete confirmation
    document.getElementById("deleteButton").addEventListener("click", (event) => {
        if (!confirm("⚠️ Êtes-vous sûr de vouloir supprimer ce salarié ?")){
            event.preventDefault();
        }
    });
</script>
