<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common :: head}"></head>
<body>
<nav th:insert="~{common :: navbar}"></nav>
<div class="container">
  <h1 class="d-inline-flex mr-3 mt-3">Liste des salariés</h1>
  <a href="/salaries/new" class="btn btn-primary mb-3 mr-3"><i class="fa fa-plus-square"></i> Nouveau salarié</a>
  <div th:if="${saved=='true'}" class="d-inline-flex alert alert-info mt-3 align-top">Les modifications ont bien été enregistrées.</div>
  <div th:if="${created=='true'}" class="d-inline-flex alert alert-info mt-3 align-top">Le nouveau salarié a bien été créé.</div>
  <div th:if="${deleted=='true'}" class="d-inline-flex alert alert-danger mt-3 align-top">Le salarié a bien été supprimé.</div>
  <!-- Bouton pour effacer recherche : -->
  <div class="row" th:if="${matricule!=''}">
    <a href="/salaries">
      <div class="badge badge-secondary p-2 ml-4 mb-4">
        <span th:text="${matricule}"></span><i class="fa fa-close ml-2"></i>
      </div>
    </a>
  </div>
  <div th:if="${pageSalaries.size > 0}" class="row">
    <div class="col-lg-12">
      <!-- DÉMARRAGE TABLE -->
      <table class="table table-hover">
        <!-- ******************  Table Header  ******************  -->
        <thead>
        <tr>
          <th scope="col">ID
            <a th:href="@{/salaries(page=0, sortProperty='id', sortDirection=${sortProperty=='id' && sortDirection=='ASC' ? 'DESC' : 'ASC'})}">
              <span th:if="${matricule==''}" class="badge badge-secondary">
                <i th:if="${sortProperty == 'id' && sortDirection == 'ASC'}" class="fa fa-chevron-up"></i>
                <i th:if="${sortProperty == 'id' && sortDirection == 'DESC'}" class="fa fa-chevron-down"></i>
                <i th:if="${sortProperty != 'id'}" class="fa fa-minus"></i>
              </span>
            </a>
          </th>
          <th scope="col">Nom
            <a th:href="@{/salaries(page=0, sortProperty='nom', sortDirection=${sortProperty=='nom' && sortDirection=='ASC' ? 'DESC' : 'ASC'})}">
              <span th:if="${matricule==''}" class="badge badge-secondary">
                <i th:if="${sortProperty == 'nom' && sortDirection == 'ASC'}" class="fa fa-chevron-up"></i>
                <i th:if="${sortProperty == 'nom' && sortDirection == 'DESC'}" class="fa fa-chevron-down"></i>
                <i th:if="${sortProperty != 'nom'}" class="fa fa-minus"></i>
              </span>
            </a>
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <!-- ******************  Table Body (avec highlight)  ******************  -->
        <tbody>
        <tr th:each="salarie, rowStat : ${pageSalaries.content}"
            th:id="${salarie.getId()}"
            class="salarie-row"
            th:classappend="${highlight == salarie.getId()} ? 'alert-info' : ''">
          <td th:text="${salarie.getId()}" class="p-2 col-2"></td>
          <td th:text="${salarie.getNom()}" class="p-2 col-8"></td>
          <td class="p-1 col-2">
            <a th:href="@{'/salaries/' + ${salarie.getId()}}" class="btn btn-sm btn-secondary hide-able">
              <i class="fa fa-edit"></i> Détail
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- FIN TABLE -->
      <!-- (((( Footer de Table et Pagination ))))  -->
      <div class="row">
        <div class="col-lg-6">
          <p>Affichage des salariés <span th:text="${pageSalaries.number * pageSalaries.size + 1}"></span> à <span th:text="${((pageSalaries.number + 1) * pageSalaries.size) > pageSalaries.totalElements ? pageSalaries.totalElements : ((pageSalaries.number + 1) * pageSalaries.size)}"></span> sur un total de <span th:text="${pageSalaries.totalElements}"></span></p>
        </div>
        <div th:if="${matricule==''}" class="col-lg-6">
          <ul class="pagination">
            <li th:class="${pageSalaries.first ? 'page-item disabled' : 'page-item'}">
              <a th:href="@{/salaries(page=${pageSalaries.number - 1}, sortProperty=${sortProperty}, sortDirection=${sortDirection})}" class="page-link" aria-label="Previous">«</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, pageSalaries.totalPages - 1)}" th:class="${pageNumber == pageSalaries.number ? 'page-item active' : 'page-item'}">
              <a th:href="@{/salaries(page=${pageNumber}, sortProperty=${sortProperty}, sortDirection=${sortDirection})}" class="page-link" th:text="${pageNumber + 1}"></a>
            </li>
            <li th:class="${pageSalaries.last ? 'page-item disabled' : 'page-item'}">
              <a th:href="@{/salaries(page=${pageSalaries.number + 1}, sortProperty=${sortProperty}, sortDirection=${sortDirection})}" class="page-link" aria-label="Next">»</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Message si Résultat de Recherche vide  -->
  <div th:if="${pageSalaries.size == 0}" class="row">
    <div th:text="#{msg.emptyresult}" class="alert alert-dark"></div>
  </div>
</div>
</body>
</html>
<!-- JAVASCRIPT -->
<script th:inline="javascript">

  // Survol des lignes :
  const rows = document.querySelectorAll('.salarie-row');
  const hideables = document.querySelectorAll('.hide-able');
  hideAll();
  function hideAll() {
    hideables.forEach((hideable) => {
      hideable.style.display = "none";
    });
  }
  rows.forEach(row => {
    row.style.cursor = "pointer";
    row.addEventListener('click', (e) => {

      // au click, sauvegarde les paramètres de Liste dans la Session Storage,
      // puis navigue au détail de l'employé :
      let params = window.location.search;
      params = params.replace(/(?:&)?(?:saved|created|deleted)=true(?:&|$)/g, '');
      params = params.replace(/(?:&)?highlight=\d+(?:&|$)/g, '');
      sessionStorage.setItem("listParams", params);
      window.location.href = window.location.pathname + '/' + e.currentTarget.id;

    });
    row.addEventListener('mouseover', () => {
      hideAll();
      row.querySelector('.hide-able').style.display = 'block';
    });
    row.addEventListener('mouseout', hideAll);
  });

</script>
